
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 0 0 5px #d7d4d4;
    transition: all 0.3s ease;
    user-select: none;
    width: 30px;
    /* 定宽保持布局整齐 */
    height: 30px;
    /* 定高保持布局整齐 */
    margin: 1px;
    /* 略微分隔单元格 */
  }
  
  
  /* 鼠标悬停时的效果 */
  /* .cell:hover:not(data-mine="0") {
    box-shadow: inset 0 0 7px #f7eeee;
  } */
  
  /* 默认状态（Closed） */
  .cell.closed {
    background: linear-gradient(to bottom right, #dedbdb, #d9d5d5fe);
    /* 线性渐变背景 */
  }
  
  /* 插旗状态（Flagged） */
  .cell.flagged {
    /* background: linear-gradient(to bottom right, #ffffff, #b0b0b0); */
    background-color: #ffffff;
    /* 线性渐变背景 */
    content: "🚩";
    font-size: 18px;
    /* 调整旗子大小 */
  }
  
  /* 打开状态（Opened）- 显示数字并根据数字变化背景色 */
  .cell.opened {
    justify-content: center;
    align-items: center;
    /* color: #f8f0f0; */
    font-weight: bold;
  }
  
  .cell[data-mine="0"] {
    background-color: #ffffff;
    cursor: default;
  }
  
  .cell[data-mine="1"] {
    background-color: #7ff19b;
  }
  
  /* 浅绿色 */
  .cell[data-mine="2"] {
    background-color: #57dacf;
  }
  
  /* 深绿色 */
  .cell[data-mine="3"] {
    background-color: #e5cc8d;
  }
  
  /* 浅黄色 */
  .cell[data-mine="4"] {
    background-color: #f4a261;
  }
  
  /* 橙色 */
  .cell[data-mine="5"] {
    background-color: #e76f51;
  }
  
  /* 粉红色 */
  .cell[data-mine="6"] {
    background-color: #9b5de5;
  }
  
  /* 紫色 */
  .cell[data-mine="7"] {
    background-color: #f15bb5;
  }
  
  /* 红色 */
  .cell[data-mine="8"] {
    background-color: #d00000;
  }
  
  /* 新增状态的样式 */
  .cell.err-flagged {
    background-color: red;
    /* 错误标记的背景色 */
  }
  
  .cell.boom {
    /* 雷的基本样式 */
  }
  
  .cell.origin-boom {
    background-color: red;
    /* 触发雷的背景色 */
  }
  
  .cell-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }